.section-1 {
    position: relative;
    background-color: var(--theme-color-light);
}

.section-1 .shape-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-1 .shape-2 {
    background-image: url("../img/shape-2.png");
    width: 109px;
    height: 195px;
}


.section-1 .bg-image {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    z-index: 2;
    padding-right: 95px;
}

.section-1 .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0 100%);
    ;
}

.section-1 .icon-shape1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 90px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    background-image: url("../img/shape-1.png");
}

.section-1 .container {
    position: static;
    max-width: var(--container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.section-1 .container .content-columnn .inner-column {
    padding: 100px 0 20px 0;
}

.section-1 .container .content-columnn {
    padding-bottom: 60px;
}

.section-1 .container .content-columnn .inner-column .sub-title {
    position: relative;
    color: var(--theme-color-orange);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 3.36px;
    margin-bottom: 11px;
    text-transform: uppercase;
}

.section-1 .container .content-columnn .inner-column .title {
    line-height: 85px;
    margin-bottom: 17px;
    letter-spacing: -3px;
    text-transform: capitalize;
}

.section-1 .icon-shape1 {
    background-image: url("../img/shape-1.png");
}

/* Button Box */
.section-1 .btn-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

/* Learn More Button with ::before hover effect */
.section-1 .theme-btn.btn-style-one {
    position: relative;
    display: inline-block;
    background-color: var(--theme-color-orange);
    color: var(--theme-color-light);
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s ease;
}

.section-1 .theme-btn.btn-style-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-dark);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.section-1 .theme-btn.btn-style-one:hover {
    color: var(--theme-color-orange);
}

.section-1 .theme-btn.btn-style-one:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.section-1 .theme-btn.btn-style-one .btn-title {
    position: relative;
    z-index: 2;
}

/* Info Button - Phone */
.section-1 .info-btn {
    position: relative;
    align-items: center;
    padding-left: 60px;
    text-decoration: none;
}

.section-1 .info-btn .icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    line-height: 50px;
    color: var(--theme-color-orange);
    transition: transform 0.4s ease;
}

/* Hover - Phone icon rotate 180deg */
.section-1 .info-btn:hover .icon {
    transform: rotateY(180deg);
}

.section-1 .info-btn small {
    display: block;
    font-size: 13px;
    color: #666;
}

.section-1 .info-btn strong {
    font-size: 16px;
    font-weight: 600;
    color: var(--theme-color-dark);
}

/* Text style */
.section-1 .text {
    font-size: 15px;
    color: #666;
    line-height: 1.8;
    max-width: 500px;
}

/* Title style */
.section-1 .title {
    font-size: 48px;
    font-weight: 750;
    letter-spacing: -2.5px;
    color: var(--theme-color-dark);
    line-height: 1.2;
    margin-bottom: 20px;
}