:root {
    --theme-color-dark: #30373E;
    --theme-color-light: #ffffff;
    --theme-color-orange: #d4a853;
    --theme-color3: #010D4C;
    --title-font: 'Open Sans', sans-serif;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --container-width: 1310px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h3 {
    font-weight: 500;
}

ul,
li {
    list-style: none;
}

.back-to-top {
    border-style: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--theme-color-orange);
    color: var(--theme-color-light);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.back-to-top:hover {
    background-color: var(--theme-color3);
    color: var(--theme-color-light);
}